html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}