html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

a {
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    line-height: 19px; 
}

img {
    vertical-align: middle;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Bebas Neue';
}

p {
    margin: 0;
}

.button {
    padding: 16px 82px;
    display: inline-block;
    border: 2px solid #222831;
    max-width: 220px;
}