.hero {

    background: #222831;

    &__container {
        padding-top: 97px;
        display: flex;
        justify-content: space-between;
    }

    &__left {
        color: #fff; 

        &__heading {
            font-weight: 200;
            font-size: 50px;
            line-height: 60px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            max-width: 685px;
            color: #FFFFFF;
            margin-bottom: 35px;

        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            height: 200px;
        } 
    }


    &__right {}
}

.play-btn {
    margin-bottom: 10px;
}

.yellow {
    color: #FFD369;
}