@media only screen and (max-width: 1380px) {

    .about {

        margin-top: 60px;

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        &__left {
            height: 350px;
            width: 620px;
            color: #fff;
            padding-bottom: 350px;
            margin-right: auto;
            margin-left: auto;

            &__heading {
                padding: 14px 71px 17px 20px;
                background-color: #FFD369;
            }

            &__wrapper {
                position: absolute;

                &__top__heading {
                    font-size: 74px;
                    line-height: 63px;
                }

                &__bottom__text {

                    font-size: 14px;
                    line-height: 16px;
                    color: #72757C;
                }
            }

            &__wrapper1 {
                top: 232px;
                left: 40px;
                display: flex;
                width: 280px;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #000000;

                .youtube {
                    padding: 16px;
                    background: #000;
                }
            }

            &__wrapper2 {
                top: 68px;
                left: 410px;
            }

            &__wrapper3 {
                top: 200px;
                left: 410px;
            }
        }

        .background {
            z-index: -1;
            position: absolute;
            max-width: 620px;
            width: 100%;
            height: 350px;
        }

        &__right {
            display: flex;
            flex-direction: column;
            max-height: 350px;
            margin-bottom: -350px;
            margin-top: -20px;
            top: 350px;
            margin-right: auto;
            margin-left: auto;
        }

        &__heading::before {
            content: "Biz Haqaimizda";
            display: inline-block;
            position: absolute;
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: rgba(34, 40, 49, 0.05);
            bottom: 0;
            left: 0;
        }

        &__heading {
            margin-top: -365px;
            margin-bottom: 410px;
            font-size: 24px;
            line-height: 29px;
            position: relative;
        }

        &__content {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 51px;

        }

        &__text {
            font-size: 18px;
            line-height: 27px;
            color: #222831;
            margin-bottom: 10px;
        }

    }

    .button {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 1000px) {
    .hero {
        &__container {
            padding-top: 97px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
        }

        &__left {
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;

            &__heading {
                font-size: 25px;
                line-height: 30px;
                letter-spacing: 0.03em;
            }



            &__wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: auto;
                width: 100%;

                &__text {

                    font-size: 18px;
                    line-height: 22px;
                    text-align: right;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;
                }

                &__subtext {
                    font-size: 12px;
                    line-height: 14px;
                    text-align: right;
                    letter-spacing: 0.03em;
                    color: rgba(255, 255, 255, 0.67);
                }

            }

            &__inner-wrapper {
                order: -1;
            }
        }


        &__right {
            order: -1;

            &__img {
                width: 278px;
                margin-bottom: 13px;
                height: 279px;
            }
        }
    }

    .yellow {
        color: #FFD369;
    }
}

@media only screen and (max-width: 700px) {
    .about {
        &__text {
            font-size: 16px;
            line-height: 24px;
        }

        &__content {

            font-size: 14px;
            line-height: 22px;
        }

        &__left {
            width: 100%;
            min-width: 375px;
        }

    }

    .background1 {
        display: none;
    }

    .background2 {
        display: inline-block;
        position: absolute;
        width: 375px;
        height: 350px;
    }
}